/** Style Guide **/
/** Fonts:
    Headings: font-family: 'Bungee', cursive;
    Text: font-family: 'Scope One', serif;
 **/
/** Red: #E83C3C **/
/** Blue: #C3FFD4 **/
/** Dark Gray: #4D4D4D**/
/** White: #FFF **/

    body {
        background-color: #4d4d4d;
        padding: 0;
    }

    body, h1, h2, button, .main-header {
        margin: auto;
    }

    h1, h2, .main-header {
        font-family: 'Bungee', cursive;
        padding-top: 35px;
    }

    button, h3, p {
        font-family: 'Scope One', serif;
    }

    h2, p, .place-website, .home-link:hover, .btn-text {
        color: white;
    }


/***** HEADER STYLING *****/
    button,
    .main-header,
    h2 {
        text-align: center;
    }

    .main-header,
    .home-link {
        padding-bottom: 30px;
    }

    .main-header {
        font-size: 3.5em;
    }

    h1 {
        color: #C3FFD4;
    }

    h2 {
        padding-bottom: 20px;
    }

/***** LINK & FUNCTION STYLING *****/

    .home-link {
        color: #C3FFD4;
        font-size: 1.5em;
    }


    a:hover, .place-website, .btn-text, .btn:hover {
        text-decoration: none;
    }

    a:hover {
        color: #4d4d4d;
    }

    h3 {
        color: #4d4d4d;
        font-size: 1.4em;
    }

    h3, p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .place-website {
        padding: 20px 20px 20px 0;
    }

/***** BUTTON STYLING *****/


    .btn {
        background-color: #E83C3C;
        border: none;
    }

    .btn-text {
        padding: 20px;
    }

    .back-btn {
        position: absolute;
        margin-top: 30px;
        padding: 0 10px 10px 30px;
    }

    .btn-primary:hover {
        background-color: #C3FFD4;
    }


/**************** MOBILE STYLING ***************/

@media screen and (max-width: 768px) {


    /***** BUTTON STYLING *****/

    button {
        margin: auto;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .nav-menu .btn {
        height: 70px;
    }

    .btn {
        height: 50px;
        font-size: 1.3em;
    }

    .btn-block {
        max-width: 80%;
    }

    .map {
        margin-top: 50px;
        margin-bottom: 35px;
    }


    /***** PLACE PAGE STYLING *****/

    .place-details {
        background-color: #E83C3C;
        margin: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5%;
    }

}


/**************** TABLET STYLING ***************/


@media screen and (min-width: 768px) {

    .btn-block {
        width: 55%;
        height: 80px;
    }

    button {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .btn {
        font-size: 1.7em;
    }

    .place-details {
        width: 50%;
        margin: auto;
    }

    .place-details h3 {
        color: #E83C3C;
        font-size: 1.5em;
    }

    .place h2 {
        padding-bottom: 35px;
    }

    .place-details p {
        font-size: 1.1em;
    }


}

/**************** DESKTOP STYLING ***************/

@media screen and (min-width: 1020px) {

    .btn-block {
        width: 45%;
    }

    .place-details {
        width: 40%;
        margin: auto;
    }

    .place h2 {
        padding-bottom: 55px;
    }

    .place-details h3 {
        font-size: 1.6em;
    }

    .place-details p {
        font-size: 1.2em;
    }


}