/** Style Guide **/
/** Fonts:
    Headings: font-family: 'Bungee', cursive;
    Text: font-family: 'Scope One', serif;
 **/
/** Red: #E83C3C **/
/** Blue: #C3FFD4 **/
/** Dark Gray: #4D4D4D**/
/** White: #FFF **/

body {
    background-color: #4d4d4d;
    padding: 0;
    margin: auto;
}

button {
    font-family: 'Scope One', serif;
}

h1, h2 {
    color: #C3FFD4;
    font-family: 'Bungee', cursive;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 50px;
}



@media screen and (max-width: 768px) {
    button,
    .main-header,
    h2 {
        text-align: center;
    }

    button{
        margin: auto;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .btn {
        background-color: #E83C3C;
        border: none;
        color: #fff;
    }

    .btn:hover {
        text-decoration: none;
        background-color: #C3FFD4;
        color: #fff;
    }

    .btn-block {
        max-width: 80%;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding: 15px;
    }

    a:hover {
        color: #4d4d4d;
    }

    .map {
        margin-top: 50px;
        margin-bottom: 35px;
    }
}